.item {
  box-shadow: 1px 1px 80px -20px rgba(200, 200, 200, 1);
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item--image {
  width: 50px;
}

.item--text {
  margin: 10px 0 0 0;
}
